.sharer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3rem;
  background-color: #fff;
  z-index: 2;
  border-top: 1px solid #EDEDED;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  transition: transform 0.3s ease; }

.sharer--hide {
  -webkit-transform: translateY(3rem);
  -moz-transform: translateY(3rem);
  -ms-transform: translateY(3rem);
  -o-transform: translateY(3rem);
  transform: translateY(3rem); }

.sharer-inner {
  padding: 0 1rem;
  max-width: 45rem;
  margin: auto; }

.sharer__right {
  float: right; }

.sharer__item {
  background: none;
  border: 0;
  padding: 0;
  margin-left: 1.5rem;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #999;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease; }

#sharer-facebook:hover {
  color: #3B5998; }

#sharer-twitter:hover {
  color: #00ACED; }

#sharer-pinterest:hover {
  color: #B5071A; }

#sharer-pocket:hover {
  color: #EF4056; }
