---
title: Blog List
layout: page
---
<link rel="stylesheet" href="/css/jqcloud.css">
<script type="text/javascript" src="/js/jqcloud-1.0.4.min.js"></script>

<script type="text/javascript">
	var tpj=jQuery;
	tpj.noConflict();
	var word_list = [
		{% for tag in site.tags %}
			{text: "{{ tag[0] }}", weight: {{ tag[1].size }}, link: "http://sbzhouhao.net/tags/#{{ tag[0] }}"},
		{% endfor %}

	];

	tpj(document).ready(function() {
		tpj('.blog_tab').attr('class', 'current_page_item');
		tpj("#my_favorite_latin_words").jQCloud(word_list);
	})

	//https://github.com/lucaong/jQCloud/blob/master/examples/index.html
	
</script>

<div class="middle_inner">
	<div class="content_wrap">
	<section id="content">
		<div class="entry">

			<ul>		
			{% for post in paginator.posts %}
				{% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
				{% if year != y %}
					{% assign year = y %}
					</ul>
					<h4>{{ y }}</h4>
					<ul class="cmsms_timeline">
				{% endif %}
				<li>
					<a href="{{ post.url }}" title="{{ post.title }}"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time> | {{ post.title }}</a>
					
				</li>
			{% endfor %}
			</ul>

		</div>
	
		<div class="cl"></div>
		<div id="post-pagination" class="paginator">

			{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a href="/blog/"><Prev Page</a>
				{% else %}
					<a href="/blog/page{{paginator.previous_page}}"><Prev Page</a>
				{% endif %}
			{% else %}
				<span class="previous disabled"><Prev Page</span>
			{% endif %}

			{% if paginator.page == 1 %}
				<span class="current-page">1</span>
			{% else %}
				<a href="/blog/">1</a>
			{% endif %}

			{% for count in (2..paginator.total_pages) %}
				{% if count == paginator.page %}
					<span class="current-page">{{count}}</span>
				{% else %}
					<a href="/blog/page{{count}}">{{count}}</a>
				{% endif %}
			{% endfor %}

			{% if paginator.next_page %}
				<a class="next" href="/blog/page{{paginator.next_page}}">Next Page></a>
			{% else %}
				<span class="next disabled" >Next Page></span>
			{% endif %}
			&nbsp;[total: {{ paginator.total_posts }}]	
		<br/><br/>
		</div>
	</section>
	<section id="sidebar">
		<div class="one_first">
			<aside class="widget widget_tag_clouds_entries">
				<h2 class="widgettitle">Tags</h2>
				<div id="my_favorite_latin_words" style="width: 100%; height: 200px; border: 1px solid #ccc;"></div>
			</aside>	
		</div>
		<div class="one_first">
			<aside class="widget widget_revolvermaps_entries">
				<script type="text/javascript" src="http://je.revolvermaps.com/2/1.js?i=4f5m56i6edh&amp;s=260&amp;m=8&amp;v=false&amp;r=false&amp;b=ffffff&amp;n=false&amp;c=ff0000" async="async"></script>
			</aside>	
		</div>
		<div class="one_first">
			<aside id="custom-twitter-4" class="widget widget_custom_flickr_entries">
				<h2 class="widgettitle">Flickr</h2>
				<div class="flickr-widget">
					<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=86294173@N08"></script>
					<div class="cl"></div>
				</div>
			</aside>
		</div>
	</section>
	</div>
</div>