---
title: Blog List
layout: page
---

<script type="text/javascript">
	var tpj=jQuery;
	tpj.noConflict();
	tpj(document).ready(function() {
		tpj('.blog_tab').attr('class', 'current_page_item');})
</script>

<div class="middle_inner">
	<section id="content">
		<div class="entry">

			<ul>		
			{% for post in paginator.posts %}
				{% capture y %}{{post.date | date:"%Y"}}{% endcapture %}
				{% if year != y %}
					{% assign year = y %}
					</ul>
					<h4>{{ y }}</h4>
					<ul class="cmsms_timeline">
				{% endif %}
				<li>
					<a href="{{ post.url }}" title="{{ post.title }}"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time> | {{ post.title }}</a>
					
				</li>
			{% endfor %}
			</ul>

		</div>
	</section>
	<div class="cl"></div>
	<div id="post-pagination" class="paginator">

	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
			<a href="/blog/"><Prev Page</a>
		{% else %}
			<a href="/blog/page{{paginator.previous_page}}"><Prev Page</a>
		{% endif %}
	{% else %}
		<span class="previous disabled"><Prev Page</span>
	{% endif %}

	{% if paginator.page == 1 %}
		<span class="current-page">1</span>
	{% else %}
		<a href="/blog/">1</a>
	{% endif %}

	{% for count in (2..paginator.total_pages) %}
		{% if count == paginator.page %}
			<span class="current-page">{{count}}</span>
		{% else %}
			<a href="/blog/page{{count}}">{{count}}</a>
		{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
		<a class="next" href="/blog/page{{paginator.next_page}}">Next Page></a>
	{% else %}
		<span class="next disabled" >Next Page></span>
	{% endif %}
	&nbsp;[total: {{ paginator.total_posts }}]	
	<br/><br/>
	</div>
</div>