<!DOCTYPE html>
<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7]><html dir="ltr" lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en-US" class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html dir="ltr" lang="en-US"><!--<![endif]-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="version" content="{{ site.version }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/styles/fonts.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Headland+One" type="text/css" />
	<link rel="stylesheet" href="css/styles/jackbox.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="revolution/css/captions-original.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="revolution/css/captions.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="revolution/css/settings.css" media="screen" />
	<link rel="stylesheet" href="css/styles/jquery.jPlayer.css" type="text/css" media="screen" />
	<script src="js/modernizr.custom.all.js" type="text/javascript"></script>
	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/jquery.easing.js" type="text/javascript"></script>
	<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.js"></script>
	<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>	
	<script type="text/javascript" src="revolution/js/jquery.themepunch.plugins.min.js"></script>
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script type='text/javascript'>
	(function() {
	    var c = document.createElement('script'); 
	    c.type = 'text/javascript';
	    c.async = true;
	    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/49383';
	    var h = document.getElementsByTagName('script')[0];
	    h.parentNode.insertBefore(c, h);
	})();
	</script>
	<script type="text/javascript">
	//https://github.com/lucaong/jQCloud/blob/master/examples/index.html
      var word_list = [
        {% for tag in site.tags %}
        	{text: "{{ tag[0] }}", weight: {{ tag[1].size }}, link: "http://sbzhouhao.net/tags/#{{ tag[0] }}"},
        {% endfor %}

      ];
      $(function() {
        $("#my_favorite_latin_words").jQCloud(word_list);
      });
    </script>
  </head>
  <body id="top">
    <div id="container"> 
        <div class="head">
            <nav>
		        <span><a title="home page" class="" href="/">Blog</a></span>
		        <span><a title="Album" class="" href="/album">Album</a></span>
		        <span><a title="tags" class="" href="/tags/">Tags</a></span>
		        <span><a title="guestbook" class="" href="/guestbook/">Comments</a></span>
		        <span><a title="about" class="" href="/about/">About Me</a></span>
	        </nav>
        </div>
        <div id="main" role="main" class="main" style="width:1024px;background:url(/images/body.png) repeat-y;z-index:999;">   
		    <div class="mainleft">
		    	<header>
		        <h1>{{ page.title }}</h1>
		        </header>
		        <article class="content">
		        {{ content }}
		        </article>
		    </div>
		    <div class="mainright">
		    	<form action="http://google.com/search" method="get" _lpchecked="1">
    				<input type="hidden" name="q" value="site:sbzhouhao.net">
    				<input class="search" type="text" name="q" results="0" style="width:260px; height:24px" placeholder="Search" autocomplete="off">
				</form>
				<br/>
			<!--
			<br/>
		    	<script type="text/javascript" src="http://je.revolvermaps.com/2/1.js?i=4f5m56i6edh&amp;s=260&amp;m=8&amp;v=false&amp;r=false&amp;b=ffffff&amp;n=false&amp;c=ff0000" async="async"></script>
		    	-->
		    	<div id="my_favorite_latin_words" style="width: 258px; height: 200px; border: 1px solid #ccc;"></div>
			<br/>
			<iframe width="100%" height="500" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=500&fansRow=2&ptype=1&speed=50&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=2184854490&verifier=72498178&dpc=1"></iframe>
			<br/>
			<span style="font-size:18px;">Link:</span>
    			<ul>
    			   <li><a href="http://mitchief.org/" target="_blank">麻省理工学院中国创新与创业论坛</a></li>
    			   <li><a href="http://blog.sina.com.cn/chenyushyyu" target="_blank">Chen Yu 博客</a></li>
    			   <li><a href="http://dheera.net/" target="_blank">Dheera的小站</a></li>
    			   <li><a href="http://wpilife.org/" target="_blank">WPILIFE</a></li>

    			</ul>
			<br/>
			<a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=IVtJTlRJQE5RTVRVTmFQUA9CTkw" style="text-decoration:none;"><span style="font-size:18px;">Contact Me:</span></a> <br/>
			<ul>
    			   <li>个人邮箱: <a href="mailto:hzhou@wpi.edu" title="Send Me Email, and I can reply you in 5 Min">hzhou@wpi.edu</a> </li>
			   <li>备用邮箱: <a href="mailto:zhouhao@sbzhouhao.net" title="Yeah, I do not always check this.">zhouhao@sbzhouhao.net</a>   </li>
			   <li>这个网站是托管在<a href="https://github.com/zhouhao/zhouhao.github.io" target="_blank" title="find the code"><b>GitHub</b></a>上的</li>
		        </ul>
		    </div>
		    <div style="clear:both;"></div>
      	</div>
		<div class="foot">
            <img src="/images/bottom.png" alt="" />
        </div>
    <footer style="width:1024px; text-align: center;">
        <p>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> & <a href="http://pages.github.com">GitHub</a> | Copyright 2008 - {{site.time | date:"%Y"}} by <a href="http://zhouhao.github.com/about/">Zhou Hao</a> | <span class="label label-info">{{site.time | date:"%Y-%m-%d %H:%M:%S %Z"}}</span></p>
        <br/>
    </footer>
    <div id="clicki_widget_6001" title=""></div>	
    </div>
	<p id="back-to-top"><a href="#top"><span></span>Go Top</a></p>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39886095-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
