<!DOCTYPE html>
<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7]><html dir="ltr" lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en-US" class="ie8"><![endif]-->
<!--[if gt IE 8]><!--><html dir="ltr" lang="en-US"><!--<![endif]-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="version" content="{{ site.version }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/styles/fonts.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Headland+One" type="text/css" />
	<link rel="stylesheet" href="/css/styles/jackbox.css" type="text/css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/revolution/css/captions-original.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/revolution/css/captions.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/revolution/css/settings.css" media="screen" />
	<link rel="stylesheet" href="/css/styles/jquery.jPlayer.css" type="text/css" media="screen" />
	<script src="/js/modernizr.custom.all.js" type="text/javascript"></script>
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/jquery.easing.js" type="text/javascript"></script>
	<script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.js"></script>
	<script type="text/javascript" src="/revolution/js/jquery.themepunch.revolution.min.js"></script>	
	<script type="text/javascript" src="/revolution/js/jquery.themepunch.plugins.min.js"></script>
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="/css/styles/ie.css" type="text/css" />
		<link rel="stylesheet" href="/css/styles/ie_css3.css" type="text/css" media="screen" />
	<![endif]-->
    <script type='text/javascript'>
	(function() {
	    var c = document.createElement('script'); 
	    c.type = 'text/javascript';
	    c.async = true;
	    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/49383';
	    var h = document.getElementsByTagName('script')[0];
	    h.parentNode.insertBefore(c, h);
	})();
	</script>
  </head>
  <body>
  	<section id="page">
		<a href="#" id="slide_top"></a>

    	<header id="header">
			<div class="header_inner">
				<div class="social_block">
					<ul>
						<li>
							<a href="https://github.com/zhouhao" target="_blank">
								<img alt="github" src="/images/socicons/github.png">
							</a>
						</li>
						<li>
							<a href="http://www.linkedin.com/in/sbzhouhao" target="_blank">
								<img alt="linkedin" src="/images/socicons/linkedin.png">
							</a>
						</li>
					</ul>
					<a class="social_toggle" href="#"><span></span></a>
				</div>
				<a class="logo" href="/"><img src="/images/logo.png" width="190" height="69" alt="" /></a>
				<a class="resp_navigation" href="javascript:void(0);"><span></span></a>
				<div class="cl"></div>
				<nav>
					<ul id="navigation">
						<li class="home_tab drop"><a href="/"><span>Home</span></a></li>
						<li class="blog_tab drop"><a href="/blog"><span>Blog</span></a></li>
						<li class="photo_tab drop"><a href="/photos"><span>Photo</span></a></li>
						<li class="comment_tab drop"><a href="/guestbook/"><span>Comment</span></a></li>
						<li class="about_tab drop"><a href="/about/"><span>About</span></a></li>
					</ul>
					<div class="cl"></div>
				</nav>
				<div class="cl"></div>
			</div>
		</header>
<!-- __________________________________________________ Finish Header -->

		<div class="container">
			 {{ content }}
		</div>
	</section>
	<!-- __________________________________________________ Finish Page -->

    <!-- __________________________________________________ Start Footer -->
	<footer id="footer">
		<div class="bottom_inner">
			<div class="one_fourth">
				<aside class="widget widget_custom_portfolio_entries">
					<div class="widget_custom_portfolio_entries_container">
						<h2 class="widgettitle">Do not be SHY</h2>
						<p>If Internet Explorer can be brave enough to ask you to set him as default browser, please don't tell me you can't dare ask a girl out.</p>
					</div>
				</aside>
			</div>
			<div class="one_fourth">
				<aside id="custom-twitter-4" class="widget widget_custom_flickr_entries">
					<h2 class="widgettitle">Flickr</h2>
					<div class="flickr-widget">
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=2&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=86294173@N08"></script>
						<div class="cl"></div>
					</div>
				</aside>
			</div>
			<div class="one_fourth">
				<aside class="widget widget_links">
					<h2 class="widgettitle">Link:</h2>
					<ul>
						<li><a href="http://mitchief.org/" target="_blank">MIT-CHIEF</a></li>
						<li><a href="http://blog.sina.com.cn/chenyushyyu" target="_blank">Chen Yu's Blog</a></li>
						<li><a href="http://dheera.net/" target="_blank">Dheera's website</a></li>
						<li><a href="http://wpilife.org/" target="_blank">WPILIFE</a></li>
					</ul>
				</aside>
				</div>
			<div class="one_fourth">
				<aside class="widget widget_custom_contact_form_entries">
					<h2 class="widgettitle">Contact:</h2>
					<ul>
						<li>Email: <a href="mailto:hzhou@wpi.edu" title="Send Me Email, and I can reply you in 5 Min">hzhou@wpi.edu</a> </li>
						<li>optional: <a href="mailto:zhouhao@sbzhouhao.net" title="Yeah, I do not always check this.">zhouhao@mit.edu</a></i>
					</ul>
				</aside>
			</div>
		</div>

		<div class="footer_inner">
			<span>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> & <a href="http://pages.github.com">GitHub</a> | Copyright 2008 - {{site.time | date:"%Y"}} by <a href="http://zhouhao.github.com/about/">Zhou Hao</a></span>
			<div class="fr">
				<ul id="footer_nav" class="footer_nav">
					<li><a href="{{site.url}}">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/photos">Photo</a></li>
					<li><a href="/guestbook/">Comment</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<div id="clicki_widget_6001" title=""></div>	
	<!-- __________________________________________________ Finish Footer -->

	<script src="/js/jackbox.js" type="text/javascript"></script>
	<script src="/js/jackbox-lib.js" type="text/javascript"></script>
	<script src="/js/jquery.script.js" type="text/javascript"></script>
	<script src="/js/jquery.validationEngine.js" type="text/javascript"></script>
	<script src="/js/jquery.validationEngine-lang.js" type="text/javascript"></script>
	<script src="/js/jquery.tweet.min.js" type="text/javascript"></script>
	<script src="/js/respond.js" type="text/javascript"></script>

	<!-- Code syntaxhighlighter -->
	<script type="text/javascript" src="/syntaxhighlighter/scripts/shCore.js"></script>
	<script type="text/javascript" src="/syntaxhighlighter/scripts/shBrushJScript.js"></script>
	<link type="text/css" rel="stylesheet" href="/syntaxhighlighter/styles/shCoreDefault.css"/>
	<script type="text/javascript">SyntaxHighlighter.all();</script>
	<!-- Code syntaxhighlighter end-->


	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39886095-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	</body>
</html>
