---
layout: default
---
<style type="text/css">
	.middle_inner .post img 
	{
		max-width:80%;
		margin: 2px auto;
	}
</style>

<div class="middle_inner">
	<h1>{{ page.title }}</h1>
	<section class="meta">
		<span class="author"><a href="http://sbzhouhao.net/">{{ site.author }}</a></span>
		<span class="time">/<time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time></span>
	</section>
	<br/>
	<section class="post">
	{{ content }}
	</section>
	<br/>

	<footer class="entry-meta">
		<ul class="cmsms_tags">
		{% if page.tags %}
			<li>Tags: </li>
		 	{% for tag in page.tags %}
			<li><a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;&nbsp; </li>
			{% endfor %}
		{% endif %}

		</ul>
	</footer>
											
	<div class="project_navi">
		
		{% if page.next %}
		<span class="fr"> <a href="{{ site.url }}{{ page.next.url }}" class="next">{{ page.next.title }}&gt;&gt;</a></span>
		{% endif %}
		{% if page.previous %}
		<span class="fl"> <a href="{{ site.url }}{{ page.previous.url }}" class="prev">&lt;&lt;{{ page.previous.title }}</a></span>
		{% endif %}

	</div>
	<div class="cl"></div>
	<br/><br/>
</div>

{% include comments.md %}


