/**
 * @package Site Template
 * @subpackage Increase HTML
 * @since Increase 1.0
 * 
 * IE 8 CSS3 Rules
 * Created by CMSMasters
 * 
 */

figure img,
#navigation > li > a > span,
.wrap_headline,
.headline p,
#middle,
#bottom,
.table thead th,
.table tfoot th,
span.dropcap2,
code,
.cmsms_plus_inner,
.acc .tog,
.tabs li a,
.tabs li a.current,
.tab .tab_content,
.tabs_tab img,
.tab.lpr .tabs li + li + li a,
.tour li a,
.tour li.current a,
.tour_box,
.pricingtable,
.pricingtable .title,
.pricingtable ul,
.pricingtable .but,
.skill_item_colored,
.comment-reply-link,
.button,
.button_medium,
.button_large,
.error_box,
.success_box,
.notice_box,
.warning_box,
.download_box,
.css_box,
.jta-tweet-text,
.cmsms_post_img,
.cmsms_comments,
.cmsms_comments:hover,
.post.format-aside .entry-content,
.post.format-quote blockquote,
.wrap_author_content,
.comment-body,
.portfolio_inner img,
.tab.lpr .tabs_tab img,
.opened-article .project img,
input[type="text"],
textarea,
select,
.cmsms-form-builder select,
.search_line input,
.cmsms_slider_parent {behavior:url(css/styles/pie.htc);}

#slide_top {-pie-border-radius:50%;}

.button:before, 
.button_medium:before, 
.button_large:before {-pie-box-shadow:none;}

.cmsms_shortcode_testimonials .cmsms_tags li, 
.cmsms_shortcode_testimonials .cmsms_tags li a {-pie-color:rgba(114, 122, 126, .4);}

a.cmsms_content_prev_slide:hover, 
a.cmsms_content_next_slide:hover {-pie-background:rgba(51, 190, 229, .8);}

.cmsms-form-builder input[type="text"]:focus,
.cmsms-form-builder textarea:focus,
.cmsms-form-builder select:focus,
option,
.post .cmsms_tags li a:hover:before,
.related_posts_content a img {-pie-border:1px solid rgba(255, 255, 255, .08);}

.footer_inner {-pie-color:rgba(255, 255, 255, .7);}

.social_block ul li a {-pie-text-shadow:0 1px 0 rgba(0, 0, 0, .55);}

.content_wrap:before {-pie-background:rgba(0, 0, 0, .1);}

.cmsms_timeline li:before,
.cmsms_timeline:before {-pie-background:rgba(0, 0, 0, .08);}

.cmsms_timeline li a:before {-pie-background:rgba(0, 0, 0, .2);}

.footer_inner:before {
	-pie-border-top:1px solid rgba(72, 82, 88, 1);
	-pie-border-bottom:1px solid rgba(72, 82, 88, 1);
}

.divider {-pie-background:rgba(0, 0, 0, .08);}

div.jp-playlist li:before {-pie-box-sizing:border-box;}

.fullwidth_divider {-pie-background:rgba(0, 0, 0, .08);}

span.dropcap2 {-pie-border-radius:50%;}

code {-pie-background:rgba(255, 255, 255, .1);}

.togg, 
.acc {-pie-border-bottom:1px solid rgba(0, 0, 0, 0.1);}

.tabs {-pie-border-bottom:1px solid rgba(0, 0, 0, .1);}

.tabs li a:before, 
.comment-reply-link:before {-pie-box-shadow:none;}

.tab .tab_content {-pie-border-bottom:1px solid rgba(0, 0, 0, .1);}

.tab.lpr .tab_content {-pie-border:1px solid rgba(0, 0, 0, .08);}

.tour li a {-pie-border-bottom:1px solid rgba(0, 0, 0, .1);}

.tour_box {-pie-border-top:1px solid rgba(0, 0, 0, .1);}

.pricingtable ul {-pie-background:rgba(255, 255, 255, .03);}

.pricingtable .but {-pie-border-top:1px solid rgba(255, 255, 255, .08);}

.shortcode_skill:before {-pie-background:rgba(0, 0, 0, .1);}

.error_box {-pie-background:rgba(253, 198, 198, .5);}

.success_box {-pie-background:rgba(182, 240, 148, .5);}

.notice_box {-pie-background:rgba(169, 229, 246, .5);}

.warning_box {-pie-background:rgba(254, 222, 153, .5);}

.download_box {-pie-background:rgba(165, 244, 148, .5);}

.css_box {-pie-background:rgba(245, 244, 244, .8);}

#sidebar .widget:before,
.widget_archive li:before,
.widget_categories li:before,
.widget_nav_menu li:before,
.widget_meta li:before,
.widget_pages li:before,
.widget_recent_entries li:before,
.arrow_dash_r li:before,
.pricingtable ul li:before,
.tab.lpr .tabs_tab ul > li:before {-pie-background:rgba(0, 0, 0, .08);}

.sitemap_category:before,
.sitemap > li:before {-pie-background:rgba(0, 0, 0, .08);}

.widget_calendar table thead th {-pie-background:rgba(255, 255, 255, .2);}

.widget_calendar table tbody td {
	-pie-border:1px solid rgba(255, 255, 255, .1);
	-pie-background:rgba(255, 255, 255, .05);
}

.widget_custom_advertising_entries img {-pie-border:1px solid rgba(193, 193, 193, .5);}

.jta-tweet-text {-pie-background:rgba(255, 255, 255, .08);}

.jta-tweet-text:before{-pie-border-top:12px solid rgba(255, 255, 255, .08);}

.widgetinfo {-pie-border-radius:4px;}

.post.format-aside .entry-content {-pie-border:1px solid rgba(0, 0, 0, .1);}

.post.format-quote blockquote {-pie-border:1px solid rgba(0, 0, 0, .1);}

.post.format-quote blockquote:after {-pie-border-right:11px solid rgba(255, 255, 255, .1);}

.wp-pagenavi span.current,
.wp-pagenavi a {
	-pie-border:1px solid rgba(0, 0, 0, .08);
	-pie-background:rgba(255, 255, 255, .8);
}

.entry .project_navi {
	-pie-border-top:1px solid rgba(0, 0, 0, .1);
	-pie-border-bottom:1px solid rgba(0, 0, 0, .1);
}

.project_sidebar .cmsms_like a {
	-pie-background:rgba(51, 190, 229, .3);
	-pie-border:1px solid rgba(51, 190, 229, .0);
}

.project_sidebar .cmsms_like a:hover, 
.project_sidebar .cmsms_like a.active {
	-pie-background:rgba(51, 190, 229, .0);
	-pie-border:1px solid rgba(51, 190, 229, 1);
}

.wrap_author_content {-pie-background:rgba(255, 255, 255, .05);}

.related_posts ul {-pie-border-bottom:1px solid rgba(0, 0, 0, 0.1);}

.comment-body {-pie-border-bottom:1px solid rgba(0, 0, 0, 0.1);}

input[type="text"],
textarea,
select {-pie-border:1px solid rgba(255, 255, 255, .0);}

.bottom_inner .cmsms-form-builder input[type="text"],
.bottom_inner .cmsms-form-builder textarea,
.bottom_inner .cmsms-form-builder select {-pie-border:1px solid rgba(255, 255, 255, .0);}

.cmsms_content_slider_parent ul.cmsms_slides_nav li a {-pie-border-radius:50%;}

#header nav {-pie-box-shadow:none;}

#navigation ul {-pie-box-shadow:1px 0 2px 1px #3c4245;}

.cmsms_slidershadow:before, 
.cmsms_slidershadow:after {-pie-box-shadow:none;}

.ls-container:before, 
.ls-container:after, 
.rev_slider_wrapper:before, 
.rev_slider_wrapper:after {-pie-box-shadow:none;}

.cmsms_plus .vert_line, 
.cmsms_plus .horiz_line {-pie-box-shadow:none;}

.tabs li a:before, 
.comment-reply-link:before {-pie-box-shadow:none;}

@media only screen and (max-width: 1024px) {

	.cmsms_slidershadow:before, 
	.cmsms_slidershadow:after {-pie-box-shadow:none;}

}

@media only screen and (max-width: 950px) {

	.ls-container:before, 
	.ls-container:after, 
	.rev_slider_wrapper:before, 
	.rev_slider_wrapper:after {-pie-box-shadow:none;}

}

@media only screen and (max-width: 767px) {
	
	#navigation ul {-pie-box-shadow:none;}
	
	.resp_navigation span:before {-pie-box-shadow:1px 1px 2px 0px #dfdfdf;}
	
	.ls-container:before, 
	.ls-container:after, 
	.rev_slider_wrapper:before, 
	.rev_slider_wrapper:after {-pie-box-shadow:none;}

}

@media only screen and (max-width: 540px) {

	.cmsms_slidershadow:before, 
	.cmsms_slidershadow:after {-pie-box-shadow:none;}
	
	.ls-container:before, 
	.ls-container:after, 
	.rev_slider_wrapper:before, 
	.rev_slider_wrapper:after {-pie-box-shadow:none;}
	
}

@media only screen and (max-width: 400px) {

	.cmsms_slidershadow:before, 
	.cmsms_slidershadow:after {-pie-box-shadow:none;}

}