/**
 * @package WordPress
 * @subpackage Increase
 * @since Increase 1.0
 * 
 * JackBox jQuery Lightbox Plugin Stylesheet for IE9 Fix
 * Changed by CMSMasters
 * 
 */


.jackbox-info-text {padding-bottom:1px;}

.jackbox-container {filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#444444", endColorstr="#000000", GradientType=1);}

